.authnav {
    display: flex;
    margin-left: auto;

    &--footer {
        display: flex;
        flex-direction: column;
        align-items: start;
        font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: currentColor;
        text-decoration: none;
    }
}

.authnav__item {
    display: flex;

    &:not(:last-child) {
        margin-right: 50px;
    }
}

.authnav__icon {
    fill: currentColor;
    margin-right: 10px;
}

.authnav__link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    transition: color 250ms $timing-function;


    &:hover,
    &:focus {
        color: $accent-color;
    }

    &--footer {
        color: rgba(255, 255, 255, 0.6);
        line-height: 1.71;
    }
    
    &--address {
        color: $secondary-text-color;
    }
    
}









