.form {
    display: flex;
    flex-direction: column;

    padding: 40px;
    min-width: 528px;

    &__title {
        font-size: 20px;
        line-height: 1.15;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--title-text-color);
        margin-bottom: 12px;
    }
    
    &__field {
        display: flex;
        flex-direction: column;
    
        margin-top: 10px;
    }
    
    
    &__container {
        position: relative;
        max-width: 448px;
    }

    &__label {
        margin-bottom: 4px;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.01em;
    }
    
    &__checkbox--label {
        margin-bottom: 0;
        font-size: inherit;
    }

}


.form__input {
    width: 100%;
    height: 40px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 42px;

    font-size: 12px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;

    &:focus,
    &:hover {
        border: 1px solid $accent-color;
        outline: $accent-color;
        cursor: pointer;
    }

}

.form__input--placeholder {
    height: 120px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    &::placeholder {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
    }
    
}


.form__icon {
    position: absolute;
    top: 50%;
    left: 15px;
    pointer-events: none;
    transform: translateY(-50%);

    .form__input:focus + & {
        fill: var(--accent-color);
    }
}


.button__form {
    margin-left: auto;
    margin-right: auto;
    width: 200px;

    padding-left: 56px;
    padding-right: 55px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}