.menu-button {
    display: flex;
    padding: 0;
    border: none;
    background-color: transparent;
    // margin-left: 284px;
    position: relative;
    z-index: 9999;


    @media screen and (min-width: 768px) {
        display: none;
        
    }
}

.menu-button .icon-cross {
    display: none;
}

.menu-button.is-open .icon-cross {
    display: block;
}

.menu-button.is-open .icon-menu {
    display: none;
} 

.menu-container {

    @media screen and (max-width: 767px) {
        display: none;
        position: absolute;
        z-index: 9999;
    
        top: 0;
        left: 0;
    
        padding: 40px 48px;

        width: 100vw;
        height: 796px;
        // height: 100vh;

        padding: 48px 40px;
        text-align: left;
    
        font-weight: 500;
        font-size: 40px;
        line-height: 1.18;
        letter-spacing: 0.02em;
        background-color: $secondary-text-color;
        color: $title-text-color;




        &.is-open {
            display: block;
        }
    }

    display: flex;


}

.navigation {

    @media screen and (max-width: 767px) {
        margin-bottom: 302px;
    }

    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 88px;
    }
        
}

