.menu-button {
    display: block;
    margin-left: auto;
    padding: 0;
    border: none;
    background-color: transparent;
    // margin-left: 284px;
    // position: fixed;
    position: relative;
    z-index: 9999;


    @media screen and (min-width: 768px) {
        display: none;
    }
}

.menu-button .icon-cross {
    display: none;
    // position: fixed;
}

// .menu-button.is-open {
//     position: fixed;
// }

.menu-button.is-open .icon-cross {
    display: flex;
    flex-direction: column;
    position: fixed;
    // overflow: hidden;
}

.menu-button.is-open .icon-menu {
    display: none;
} 

.menu-container {

    display: flex;

    @media screen and (max-width: 767px) {
        display: none;
        position: fixed;
        // overflow: hidden;
        z-index: 9999;
    
        top: 0;
        left: 0;
    
        padding: 40px 48px;

        width: 100vw;
        // height: 796px;
        height: 100%;

        padding: 48px 40px;
        text-align: left;
    
        font-weight: 500;
        font-size: 40px;
        line-height: 1.18;
        letter-spacing: 0.02em;
        background-color: $secondary-text-color;
        color: $title-text-color;

        &.is-open {
            display: flex;
            flex-direction: column;
        }
    }

}

.navigation {

    flex-grow: 1;

    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 88px;
    }
        
}

.contacts {
    margin-bottom: auto;
}

