.header {
    background-color: $secondary-text-color;
    border-bottom: 1px solid #ECECEC;


    &__container {
        display: flex;
        align-items: center;
    }

    &__nav {
        display: flex;
        align-items: center;
    }

}