.portfolio {
    display: flex;
    flex-wrap: wrap;

    &__link {
        text-decoration: none;
    }
    
    &__img {
        position: relative;
        overflow: hidden;
    }

    &__container {
        padding: 24px 20px;
        border-bottom: 1px solid $border-color;
        border-left: 1px solid $border-color;
        border-right: 1px solid $border-color;
    }
    
    &__title {
        color: $title-text-color;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        margin-bottom: 4px;
    }
    
    &__descr {
        color: $primary-text-color;
        font-size: 16px;
        line-height: 1.9;
    }

}

.portfolio__item {
    flex-basis: calc((100% - 60px) / 3);
    transition: box-shadow 250ms $timing-function;

    &:not(:nth-child(3n)) {
        margin-right: 30px;
    }

    &:not(:nth-last-child(-n +3)) {
        margin-bottom: 30px;
    }

    &:hover,         
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);  
    }
}


.portfolio__text {
    position: absolute;
    top: 100%;
    padding: 63px 24px;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: $secondary-text-color;
    background-color: $accent-color;
    opacity: 1;
    transition: opacity 250ms $timing-function, transform 250ms $timing-function;

    .portfolio__link:hover &,
    .portfolio__link:focus & {
        opacity: .9;
        transform: translateY(-100%);
    }
}





