.sitenav {

    &__item:not(:last-child) {
            @media screen and (max-width: 767px) {
                margin-bottom: 32px;
            }

            @media screen and (min-width: 768px) {
                margin-right: 50px;
                }
        }
    
    @media screen and (min-width: 768px) {
            display: flex;
            margin-right: 84px;
        }

    @media screen and (min-width: 1200px) {
            margin-right: 305px;
        }
    }



.sitenav__link {
    position: relative;
    display: block;
    color: $title-text-color;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    // padding-top: 33px;
    // padding-bottom: 31px;

    transition: color 250ms $timing-function;

        &--current::after {
            @media screen and (min-width: 768px) {
                position: absolute;
                bottom: -24px;
                left: 0;
                content:" ";
                width: 100%;
                height: 4px;
                color: $accent-color; 
                background: $accent-color; 
                border-radius: 2px;
            }
        }

        &:hover, 
        &:focus {
        color: $accent-color; 
    }
}


    

    

