.sitenav {
    display: flex;
    margin-left: 90px;

    &__item:not(:last-child) {
        margin-right: 50px;
    }
}


.sitenav__link {
    position: relative;
    display: block;
    color: $title-text-color;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    padding-top: 33px;
    padding-bottom: 31px;

    transition: color 250ms $timing-function;


    &--current {
        color: $accent-color; 
    }

    &--current::after {
        position: absolute;
        bottom: 0;
        left: 0;
        content:" ";
        width: 100%;
        height: 4px;
        background: $accent-color; 
        border-radius: 2px;
    }

    &:hover, 
    &:focus {
        color: $accent-color; 
    }

}