.workers {
    background-color: $background-secondary-color;
}

.persons {
    display: flex;

    &__block {
        padding: 30px 60px;
        text-align: center;
}

    &__title {
        min-width: 151px;
        margin-bottom: 10px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
        color: $title-text-color;
}

    &__jobs {
        font-size: 16px;
        line-height: 1.19;
        justify-content: center;
}

}


.persons__item {
    width: 270px;
    background-color: $secondary-text-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    &:not(:last-child) {
        margin-right: 30px;
    }

}



