$primary-text-color: #757575;
$title-text-color: #212121;
$secondary-text-color: #FFFFFF;
$accent-color: #2196F3;
$background-text-color: #E5E5E5;
$background-secondary-color: #F5F4FA; 
$background-third-color: #2F303A;
$border-color: #EEEEEE;
$icon-color: #AFB1B8;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);